<strong>Olá, {{ deliveryman }}</strong>
<p>Você tem uma nova entrega para fazer, confira os detalhes abaixo:</p>

<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Remetente: </strong> {{ recipient }} <br /><br />

  <strong>Endereço: </strong> {{ street }} <br />
  <strong>Número: </strong> {{ number }} <br />
  <strong>Complemento: </strong> {{ complement }} <br />
  <strong>CEP: </strong> {{ zipcode }} <br />
  <strong>Cidade: </strong> {{ city }} <br />
  <strong>UF: </strong> {{ state }} <br /><br />

  <p>Boa-Viagem! :D</p>
</p>
